# Create your own APIKey/Secret for the app
APP_API_KEY="<MAKE_YOUR_OWN_KEY>"

IBM_CLOUD_API_KEY=
TEXT_TO_SQL_ENDPOINT=https://api.ca-tor.dai.cloud.ibm.com/semantic_automation/v1/
WXD_PROJECT_ID=

###DB2 Connection##
DB2_USERNAME=
DB2_PASSWORD=
DB2_HOSTNAME=
DB2_PORT=
DB2_SCHEMA=
DB2_DATABASE=

###MYSQL Connection##
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_HOSTNAME=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_TLS_LOCATION=

###MongoDB Connection##  
MDB_USERNAME=
MDB_PASSWORD=
MDB_HOSTNAME=
MDB_PORT=
MDB_TLS_LOCATION=

###Presto Connection##  
PRESTO_HOSTNAME=
PRESTO_PORT=
PRESTO_USERNAME=
PRESTO_PASSWORD=
PRESTO_CATALOG=
PRESTO_SCHEMA=
PRESTO_TLS_LOCATION=